@media screen and (max-width: 1140px) {
  .second-nav ul li a {
    font-size: 14p;
  }

  .second-nav,
  .second-nav .header-nav,
  .header-center,
  .weather {
    display: none;
  }

  #logo1,
  .fa-bars {
    display: block;
  }

  .second-nav ul li {
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 960px) {
  .first-nav {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40px;
  }

  .first-nav ul {
    padding-bottom: 10px;
  }

  .newsletter-img {
    padding-top: 30px;
  }
}

@media screen and (max-width: 720px) {
  .newsletter-img {
    object-fit: cover;
    width: 100%;
    height: 150px;
  }

  .first-nav ul li a {
    font-size: 10px;
  }

  .nav-subscribe {
    width: 60px;
    text-align: center;
    padding-top: 5px;
  }
}

@media screen and (max-width: 512px) {
}
